{% extends "shop/layout.html" %}
{% block body %}

  <!-- Main -->
  {% load static %}
  <div id="main">
    <div class="cl">&nbsp;</div>
    <!-- Content -->
    <div id="content">
      <!-- Content Slider -->
      <div id="slider" class="box">
        <div id="slider-holder">
          <ul>
            <li><a href="#"><img src="{%static 'shop/images/slide1.jpg' %}" alt="" /></a></li>
            <li><a href="#"><img src="{%static 'shop/images/slide1.jpg' %}" alt="" /></a></li>
            <li><a href="#"><img src="{%static 'shop/images/slide1.jpg' %}" alt="" /></a></li>
            <li><a href="#"><img src="{%static 'shop/images/slide1.jpg' %}" alt="" /></a></li>
          </ul>
        </div>
        <div id="slider-nav"> <a href="#" class="active">1</a> <a href="#">2</a> <a href="#">3</a> <a href="#">4</a> </div>
      </div>
      <!-- End Content Slider -->
      <!-- Products -->
      <div class="products">
        <div class="cl">&nbsp;</div>
        <ul>
          <!-- <li class="product"> <a href="#"><img src="/media/{{product.0.image}}" alt="" /></a>
            <div class="product-info">
              <h3>{{product.0.product_name}}</h3>
              <div class="product-desc">
                <h4>{{product.0.catagory}}</h4>
                <p>{{product.0.subcatagory}}</p>
                <p>{{product.0.desc}}</p>
                <strong class="price">${{product.0.price}}</strong> </div>
                <h3><button id="pr{{product.0.id}}" class="cart"><h3>Add To Cart</h3></button></h3>
            </div>
          </li> -->

          {% for i in product %}
          <li class="product"> <a href="/shop/products/{{i.id}}" id="qv{{i.id}}"><img src="/media/{{i.image}}" alt="" /></a>
            <div class="product-info">
              <h3>{{i.product_name}}</h3>
              <div class="product-desc">
                <h4>{{i.catagory}}</h4>
                <p>{{i.subcatagory}}</p>
                <h4>{{i.desc | slice:"0:40"}}...</h4>
                <strong class="price">${{i.price}}</strong> </div>
                <h3><button id="pr{{i.id}}" class="cart"><h3>Add To Cart</h3></button></h3>
            </div>
          </li>
          {% if forloop.counter|divisibleby:4 and forloop.counter > 0 and not forloop.last %}
          {% endif %}
          {% endfor %}


        </ul>
        <div class="cl">&nbsp;</div>
      </div>
      <!-- End Products -->
    </div>
    <!-- End Content -->
    <!-- Sidebar -->
    <div id="sidebar">
      <!-- Search -->
      <div class="box search">
        <h2>Search by <span></span></h2>
        <div class="box-content">
          <form action="#" method="post">
            <br>
            <label>Product Name</label>
            <input type="text" class="field" />

            <input type="submit" class="search-submit" value="Search" />
            <p> please enter item name inside the textbox</p>
          </form>
        </div>
      </div>
      <!-- End Search -->
      <!-- Categories -->
      <div class="box categories">
        <h2>Categories <span></span></h2>
        <div class="box-content">
          <ul>
            <li><a href="#">Category 1</a></li>
            <li><a href="#">Category 2</a></li>
            <li class="last"><a href="#">Category 3</a></li>

          </ul>
        </div>
      </div>
      <!-- End Categories -->
    </div>
    <!-- End Sidebar -->
    <div class="cl">&nbsp;</div>
  </div>
  <!-- End Main -->
  <!-- Side Full -->
  <div class="side-full">
    <!-- More Products -->
    <div class="more-products">
      <div class="more-products-holder">
        <ul>
          <li><a href="#"><img src="{%static 'shop/images/small1.jpg' %}" alt="" /></a></li>
          <li><a href="#"><img src="{%static 'shop/images/small2.jpg' %}" alt="" /></a></li>
          <li><a href="#"><img src="{%static 'shop/images/small3.jpg' %}" alt="" /></a></li>
          <li><a href="#"><img src="{%static 'shop/images/small4.jpg' %}" alt="" /></a></li>
          <li><a href="#"><img src="{%static 'shop/images/small5.jpg' %}" alt="" /></a></li>
          <li><a href="#"><img src="{%static 'shop/images/small6.jpg' %}" alt="" /></a></li>
          <li><a href="#"><img src="{%static 'shop/images/small7.jpg' %}" alt="" /></a></li>
          <li><a href="#"><img src="{%static 'shop/images/small1.jpg' %}" alt="" /></a></li>
          <li><a href="#"><img src="{%static 'shop/images/small2.jpg' %}" alt="" /></a></li>
          <li><a href="#"><img src="{%static 'shop/images/small3.jpg' %}" alt="" /></a></li>
          <li><a href="#"><img src="{%static 'shop/images/small4.jpg' %}" alt="" /></a></li>
          <li><a href="#"><img src="{%static 'shop/images/small5.jpg' %}" alt="" /></a></li>
          <li><a href="#"><img src="{%static 'shop/images/small6.jpg' %}" alt="" /></a></li>
          <li><a href="#"><img src="{%static 'shop/images/small7.jpg' %}" alt="" /></a></li>
          <li><a href="#"><img src="{%static 'shop/images/small1.jpg' %}" alt="" /></a></li>
          <li><a href="#"><img src="{%static 'shop/images/small2.jpg' %}" alt="" /></a></li>
          <li><a href="#"><img src="{%static 'shop/images/small3.jpg' %}" alt="" /></a></li>
          <li><a href="#"><img src="{%static 'shop/images/small4.jpg' %}" alt="" /></a></li>
          <li><a href="#"><img src="{%static 'shop/images/small5.jpg' %}" alt="" /></a></li>
          <li><a href="#"><img src="{%static 'shop/images/small6.jpg' %}" alt="" /></a></li>
          <li class="last"><a href="#"><img src="{%static 'shop/images/small7.jpg' %}" alt="" /></a></li>
        </ul>
      </div>
      <div class="more-nav"> <a href="#" class="prev">previous</a> <a href="#" class="next">next</a> </div>
    </div>
    <!-- End More Products -->
    <!-- Text Cols -->
    <div class="cols">
      <div class="cl">&nbsp;</div>
      <div class="col">
        <h3 class="ico ico1">Donec imperdiet</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec imperdiet, metus ac cursus auctor, arcu felis ornare dui.</p>
        <p class="more"><a href="#" class="bul">Lorem ipsum</a></p>
      </div>
      <div class="col">
        <h3 class="ico ico2">Donec imperdiet</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec imperdiet, metus ac cursus auctor, arcu felis ornare dui.</p>
        <p class="more"><a href="#" class="bul">Lorem ipsum</a></p>
      </div>
      <div class="col">
        <h3 class="ico ico3">Donec imperdiet</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec imperdiet, metus ac cursus auctor, arcu felis ornare dui.</p>
        <p class="more"><a href="#" class="bul">Lorem ipsum</a></p>
      </div>
      <div class="col col-last">
        <h3 class="ico ico4">Donec imperdiet</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec imperdiet, metus ac cursus auctor, arcu felis ornare dui.</p>
        <p class="more"><a href="#" class="bul">Lorem ipsum</a></p>
      </div>
      <div class="cl">&nbsp;</div>
    </div>
    <!-- End Text Cols -->
  </div>
  <!-- End Side Full -->
 
{% endblock %}

{% block js %} 
<script>

  if (localStorage.getItem('cart') == null) {
    var cart = {};
  }
  else{
    cart = JSON.parse(localStorage.getItem('cart'));
    document.getElementById('card').innerHTML = Object.keys(cart).length;
  }

  $('.cart').click(function () {
    var idstr = this.id.toString();
    console.log(idstr);
    if (cart[idstr] !=undefined) {
      cart[idstr] += 1;
    } else {
      cart[idstr] = 1;
    }
    localStorage.setItem('cart', JSON.stringify(cart));
    document.getElementById('card').innerHTML = Object.keys(cart).length;
  });

  
</script>
{% endblock %}
