<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

{% load static %}

<head>
<title>Shop Around</title>
<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
<link rel="stylesheet" href="{%static 'shop/css/style.css' %}" type="text/css" media="all" />
<!--[if lte IE 6]><link rel="stylesheet" href="css/ie6.css" type="text/css" media="all" /><![endif]-->
<script src="{%static 'shop/js/jquery-1.4.1.min.js' %}" type="text/javascript"></script>
<script src="{%static 'shop/js/jquery.jcarousel.pack.js' %}" type="text/javascript"></script>
<script src="{%static 'shop/js/jquery-func.js' %}" type="text/javascript"></script>
</head>
<body>
<!-- Shell -->
<div class="shell">
  <!-- Header -->
  <div id="header">
    <h1 id="logo"><a href="/shop/">shoparound</a></h1>
    <!-- Cart -->
    <div id="cart"> <a href="#" class="cart-link">Your Shopping Cart</a>
      <div class="cl">&nbsp;</div>
      <span>Products: <strong id="card">0</strong></span> &nbsp;&nbsp; <span>Cost: <strong>$250.99</strong></span> </div>
    <!-- End Cart -->
    <!-- Navigation -->
    <div id="navigation">
      <ul>
        <li><a href="/shop/" class="active">Home</a></li>
        <li><a href="/shop/about/">About Us</a></li>
        <li><a href="/shop/tracker/">Tracker</a></li>
        <li><a href="#">The Store</a></li>
        <li><a href="/admin">Admin</a></li>
        <li><a href="/shop/checkout/">Checkout</a></li>
        <li><a href="/shop/contact/">Contact Us</a></li>
      </ul>
    </div>
    <!-- End Navigation -->
  </div>
  <!-- End Header -->

  {% block body %} {% endblock %}
  
  <!-- Footer -->
  <div id="footer">
    <p class="left"> <a href="/shop/">Home</a> <span>|</span> <a href="#">Support</a> <span>|</span> <a href="#">My Account</a> <span>|</span> <a href="#">The Store</a> <span>|</span> <a href="/shop/contact/">Contact</a> </p>
    <p class="right"> &copy; 2010 Shop Around. Design by <a href="http://chocotemplates.com">Chocotemplates.com</a> </p>
  </div>
  <!-- End Footer -->
</div>
<!-- End Shell -->

{% block js %} {% endblock %}
</body>
</html>
