{% extends "shop/layout.html" %}
{% block body %}

  <!-- Main -->
  {% load static %}

  <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
    <div class="col p-4 d-flex flex-column position-static">
      <img src="/media/{{product.image}}" alt="" />
      <!-- <img src="/media/{{product.image}}" height="200px" width="150px" alt="" /> -->
      <div class="row">
        <button class="cart"><h5>Buy Now</h5></button>&nbsp;&nbsp;&nbsp;&nbsp;
        <button class="cart" id="pr{{i.id}}"><h5>Add to Cart</h5></button>
      </div>
    </div>
    <div class="col-auto d-none d-lg-block">
      <br/><h2>Product Details</h2><br/>
      <h3>{{product.product_name}}</h3>
      <h4>{{product.catagory}}</h4>
      <h4>{{product.subcatagory}}</h4>
      <p>{{product.desc}}</p>
      <strong class="price">${{product.price}}</strong> </div>
    </div>


    {% endblock %}

    
{% block js %} 
<script>
  console.log('working');
  if (localStorage.getItem('cart') == null) {
    var cart = {};
  }
  else{
    cart = JSON.parse(localStorage.getItem('cart'));
    document.getElementById('card').innerHTML = Object.keys(cart).length;
  }

  $('.cart').click(function () {
    console.log('clicked');
    var idstr = this.id.toString();
    console.log(idstr);
    if (cart[idstr] !=undefined) {
      cart[idstr] += 1;
    } 
    else {
      cart[idstr] = 1;
    }
    console.log(cart);
    localStorage.setItem('cart', JSON.stringify(cart));
    document.getElementById('card').innerHTML = Object.keys(cart).length;
  });
</script>
{% endblock %}

